<% header, table, filled, highlight = table_helper %>

<div class="col-md-12">

  <%= will_paginate @sheets %>
  <div class="pull-right">
    <h5 style="text-align: center">Exporteer</h5>
    <%= link_to 'csv', search_path(@base_set, format: :csv, params: request.query_parameters), :class => "btn btn-primary" %>
    <%= link_to 'docx', search_path(@base_set, format: :docx, params: request.query_parameters), :class => "btn btn-primary" %>
    <%= link_to 'json', search_path(@base_set, format: :json, params: request.query_parameters), :class => "btn btn-primary" %>
  </div>
  [<%= @search.total %> bladen]<br>
  <table class="table table-striped table-bordered fixed-headers">
    <thead>
    <tr>
      <% header.each_with_index do |value, colnum| %>
        <% if filled[colnum] %>
          <th><%= value %></th>
        <% end %>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% table.each_key do |sheet_id| %>
      <tr class="">
        <% table[sheet_id].each_with_index do |value, colnum| %>
          <% if filled[colnum] %>
            <td>
              <%= value %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @sheets %>
</div>


