<div class="row navigate">
  <%= link_to 'Back', search_path(session[:search_params]) %>
  <br>
  <%= @previous_id ? link_to('Previous', sheet_path(@previous_id)) : 'Previous' %> |
  <%= @next_id ? link_to('Next', sheet_path(@next_id)) : 'Next' %>
</div>

<div id="content">
  <% mdiv = sheet_metadata_helper %>
  <div id="sheet_metadata" class="row metadata">
    <h1><%= @sheet.display_title %></h1>
    <dl class="dl-horizontal  dl-invert sheet_met">
      <% mdiv.each do |f, v| %>
        <dt><%= f %>:</dt>
        <dd><%= v %></dd>
      <% end %>
    </dl>
  </div>
  <%= render 'boxviewer' %>
  <h2>Exemplaren</h2>
  <dl class="dl-horizontal  dl-invert copies_met">
    <% sheet_copy_helper.each do |k, v| %>
      <h3><%= k %></h3>
      <% v.each do |m| %>
        <div class="copy_met">
          <% m.each do |f, val| %>
            <% unless f == 'ev' %>
              <dt><%= f %>:</dt>
              <dd><%= val.html_safe %></dd>
            <% else %>
              <dl class="dl-horizontal  dl-invert ev_met">
                <h4>Digitale versies</h4>
                <% val.each do |ev| %>
                  <% ev.each do |ef, eval| %>
                    <dt><%= ef %>:</dt>
                    <dd><%= eval.html_safe %></dd>
                  <% end %>
                <% end %>
              </dl>
            <% end %>
          <% end %>
        </div>
        <hr/>
      <% end %>
    <% end %>
  </dl>
  <%= render 'osviewer' %>
</div>
